*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:Montserrat, sans-serif; 
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    background-color: #f6f6f6;
}

section{
    margin-bottom: 120px;
}

h2{
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p{
    margin-bottom: 30px;
} 

img{
    width: 100%;
}

.header{
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("background.jpg") ;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header .logo {
    font-size: 30px;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
}

.navbar{
    display: none;
}

.title{
  margin-left: 15px;
}

.title h1{
    margin-top: 80px;
    text-align: left;
    font-size: 35px;
    color: whitesmoke;
}

.title p{
    color: white;
    text-align: left;
}

.get-start{
    margin-left: 15px;
}

.get-start button{
    font-size: 20px;
    color: #f6f6f6;
    border: none;
    background: none;
    border: 2px solid whitesmoke;
    text-transform: uppercase;
    padding: 5px 20px;
}

.overview{
    margin-left:5% ;
    margin-right: 5%;
}

.location{
    margin-left:5% ;
    margin-right: 5%;
}

.list-background{
    display: flex;
    width: 300px;
    height: 90px;
    justify-content: center;
    align-items: center;
    background: #abaaa712;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px -6px rgb(0 0 0 / 30%);
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    padding: 7px;
}

.project-item{
    text-align: center;
}

.gallery-btn{
    margin-bottom:50px;
    text-align: center;
}
 
.gallery-btn ul li{
    display: inline;
    position: relative;
}

.gallery-btn ul li a{
    text-decoration: none;
    color:black;
    border:1px solid black;
    padding :9px 20px;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #ffffff7a;
    color:black;
}

.gallery-list{
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
}

.gallery-list .img1 img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.overview-img img{
    width: 100%;
}

table {
    border-collapse: collapse;
}

th {
    background-color:#004280a8;
    Color:white;
}

th, td {
    width:150px;
    text-align:center;
    border:1px solid black;
    padding:5px
}

.price-plan-item{
    border-right:hidden;
}

.price-plan-info {
    border-collapse:separate;
    border-spacing:0 15px;
}

@media only screen and (min-width: 1024px) {
   
    .navbar{
        display:block;
    }

    .navbar nav ul{
        float:right;
        margin-right: 5%;
        margin-top: -38px;
    }
    
    .navbar nav ul li{
        list-style-type:none;
        display: inline;
        padding: 10px;
    }
    
    .navbar nav ul li a{
        padding-left: 10px;
        padding-bottom: 5px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: sans-serif;
        color:white;
        font-size:15px;
        font-weight: 600;
        font-family: sans-serif;
        transition: 0.6s;
    }

    .header ul li a:hover{
        /* background-color:#0acebaf1; */
        border-bottom: 4px solid #74b1abf1;;      
    }

    .title h1{
        font-size: 50px;
        margin-left:90px;
        margin-right: 15%;
    }

    .title p{
        margin-left:90px;
        font-size: 30px;
        margin-right: 15%;
    }

    .get-start{
        margin-left: 100px;
    }

    h2{
        font-size: 30px;
    }

    .overview-flex{
        display: flex;
    }
    .overview-info,.overview-img{
    
        width: calc(100% /2);
    }

    p{
        font-size: 20px;
    }

    .project-list{
        display: flex;
        flex-wrap: wrap;
    }

    .list-background{
        transition: 0.4s;
        box-shadow: 0 4px 8px -6px rgba(32, 112, 192, 0.3);
    }

    .list-background:hover{
        transform: scale(1.2);
    }

    .gallery-list {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-list .img {
        width: calc(100% /4);
    }

    .gallery-list .img img{
        width:300px;
        height: auto;
        border: 2px solid black;
        border-radius: 25px;
        opacity: 0.6;
        transition: 0.4s;
    }

    .gallery-list .img-4 img{
        width: 280px;
    } 

    .gallery-list .img img:hover{
        opacity: 1;
        transform: scale(1.2);
    }

    .location-flex{
        display: flex;
    }

    .location-text,.location-img{
     width: calc(100% /2);
    }

    table {
        width:90%;
    }

}
