*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
    font-family: 'Inter', sans-serif;
}

section{
    margin-bottom: 120px;
}

h2{
    color: #f0ecec;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}

p{
    color:#f0ecec;
    line-height: 1.5;
}

img{
    width: 100%;
}

 .header .logo{
    font-size: 30px;
    color: #f0ecec;
    margin: 0 auto;
    display: block;
    width: 200px;
} 

.navbar{
    display: none;
}

.background{
    background-image: linear-gradient(rgb(0 0 0 / 50%),rgb(0 0 0 / 70%)),url("background.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    height: 50vh;
}

.title h1{
   color: #f0ecec;
   padding-left: 10px;
   padding-top: 50px;
}

.title p{
    margin-left: 10px;
}

.overview p{
   padding-left: 15px;
}

.background-image{
    margin-top: 30px;
    background-image:  linear-gradient(rgb(0 0 0 / 20%),rgb(0 0 0 / 70%)),url("background.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.background-image h3{
    padding-top: 150px;
    color: #f0ecec;
    font-size: 25px;
    padding-left: 20px;
}

.background-image p{
    padding-left: 20px;
}

.image-link  {
  padding-left: 20px;
  margin-top: 10px;
}

.image-link a{
    text-decoration: none;
    color: #f0ecec;
}

.images{
    margin-left: 20px;
    margin-right: 20px;
}

.image-detail{
    margin-top: 10px;
    color: #f0ecec;
}

.project{
    color: #f0ecec;
    float: right;
    margin-top: -25px;
}

.gallery-itom{
    margin-bottom: 50px;
}

.location p{
    padding-left: 15px;
}

@media screen and (min-width:1024px) {
     
    .navbar{
        display: block;
    }
    /* .header .logo span{
     margin-left: 10px;
        
    }
    .navbar{
        display: block;
        position: absolute;
        right: 40px;
        top: 25px;
    }
    .navbar nav ul li{
        display: inline;
        padding-left: 10px;
    }

    .navbar nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 15px;
        text-transform: uppercase;
    } */

    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        padding: 10px 100px;
    }
    
    header.sticky{
        padding: 5px 100px;
        background: #fff;
    }
    
    header .logo{
        position: relative;
        font-weight: 700;
        text-decoration: none;
        color: #fff;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.6s;
    }
    
    header ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header ul li{
        position: relative;
        list-style: none;
    }
    
    header ul li a{
     position: relative;
     margin: 0 15px;
     text-decoration: none;
     color: #fff;
     letter-spacing: 2px;
     font-weight: 500px;
     transition: 0.6s;
    }
    
    header.sticky .logo,
    header.sticky ul li a{
        color: #000;
    }
    
    .background{
        height: 90vh;
    }

    .title{
        padding-top: 150px;
        padding-left: 50px;
        padding-right: 100px;
    }

    .title h1{
        font-size: 50px;
        
    }

    .title p{
        font-size: 20px;
    }

    .overview-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .flex-content{
        flex-basis: 40%;
    }

    .flex-img img{
        z-index: 2;
        width: 60%;
        height: 60vh;
        margin-left: 200px;
    }


    .images{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .gallery-itom{
        flex-basis: 30%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .location{
        height: 50vh;
    }

    .location p{
        font-size: 20px;
        margin-left: 90px;
        margin-right: 90px;
        line-height: 1.6;
    }
   

}




